@page
@model IndexModel
@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la páguina principal de la libreria Santana</h1>
    <p>Tenemos libros de todo tipo y a muy buenos precios, <a href="/Books">Si quieres puede chequearlo aqui</a>,
        <a asp-page="Privacy">también puedes ver nuestra política</a>. <br>
        En esta páguina tenemos de todo tipo de libros y ademas de eso puedes subir tu propio libro, <br>
        todo en una sola página.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatum repellat aliquam consequatur fugit est tempore nobis, reiciendis adipisci expedita necessitatibus quaerat totam doloribus, magni, quo doloremque. Earum, reprehenderit doloremque!
    </p>
</div>
