@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<h1 class="mb-5">@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio ab dicta excepturi omnis similique, nam recusandae quam inventore sint nemo, ullam consequatur odio esse iure saepe! Quam, quos accusantium?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id necessitatibus aperiam dignissimos reprehenderit molestias? Reiciendis hic iste consectetur, consequatur eligendi accusamus consequuntur quas eos expedita modi amet numquam, labore libero!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate error cumque architecto excepturi, minus necessitatibus modi numquam eius temporibus debitis cum iste officiis soluta sunt maxime! Minus quod nesciunt ratione?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe facilis ratione dolore architecto quasi enim molestias, dignissimos inventore in voluptatibus quas, non incidunt distinctio natus! Iure laborum a dicta quas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo velit, omnis accusamus, laborum ducimus ullam quaerat animi cumque qui error doloremque mollitia, maxime aliquid adipisci eaque nihil. Atque, fugit.
</p>

&copy; <u class="display-block mt-5">2021 - LibreriaSantana</u>
