@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo distinctio ab dicta excepturi omnis similique, nam recusandae quam inventore sint nemo, ullam consequatur odio esse iure saepe! Quam, quos accusantium?
    <br> &copy; 2021 - LibreriaSantana</p>
